<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;Welcome Store</a>
       <div style="padding-left: 900px;font-size: small;"> 
       <form class="d-flex" >
            <a  routerLink="login" style="color: white;">Login</a>&nbsp;&nbsp;
            <a  routerLink="register" style="color: white;">Register</a>
        </form>
    </div>
        <div class="navbar-brand">
            <form class="d-flex">
                <i style="font-size: 30px;" class="fa fa-cart-plus" aria-hidden="true"></i>
            </form>
        </div>
    </div>
</nav>