<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;Welcome Store</a>
        <div class="navbar-brand">
            <a routerLink="login" style="color: white;">Login</a>&nbsp;
            <a routerLink="register" style="color: white;">Register</a>
        </div>
        <div class="navbar-brand">
            <form class="d-flex">
                <i style="font-size: 30px;" class="fa fa-cart-plus" aria-hidden="true"></i>
            </form>
        </div>
    </div>
</nav>